/*--------------------    default settings    --------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,nav ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor: pointer;}
a:hover{text-decoration: none;}
button{cursor: pointer;outline: none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*--------------------    user settings    --------------------*/
body{background:#fff;width:100%;color:#3c3f42;font-size:14px;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;line-height:1;}
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix:after {content: "";display: table;clear: both;}

/* all */
::-webkit-input-placeholder { color: #93adb7; font-size: 12px;font-weight: 700;}
::-moz-placeholder { color: #93adb7; font-size: 12px;font-weight: 700;} /* firefox 19+ */
:-ms-input-placeholder { color: #93adb7; font-size: 12px;font-weight: 700;} /* ie */
input:-moz-placeholder { color: #93adb7; font-size: 12px;font-weight: 700;}
input, textarea {outline:none;}
input[type='text'], input[type='tel'], input[type='password'], input[type='email'], textarea{background:#fff;width:100%;height:30px;color:#3c3f42;font-size:14px;border:1px solid #92acb6;border-radius:2px;padding:0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='text']:hover, input[type='tel']:hover, input[type='password']:hover, input[type='email']:hover, textarea:hover {border-color: #12aaeb;box-shadow: inset 0 0 0 1px #12aaeb;}
input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus{border-color: #12aaeb;box-shadow: inset 0 0 0 1px #12aaeb;}
textarea{height:60px;line-height: 1;padding:10px 15px;overflow:auto;resize:none;}
h1{position: relative;color: #1c5fa6;font-size: 24px;font-family: 'PFDinDisplayPro Bold';font-weight: normal;text-transform: uppercase;border-bottom: 2px dotted #99b1bb;padding-bottom: 20px;}
.fll{float: left;}
.flr{float: right;}
/*--------------------    all settings    --------------------*/
.container{
	position:relative;
	margin:0 auto;
	width:1170px;
	box-sizing: border-box;
}
	.container:after{
		content: "";
		display: table;
		clear: both;
	}
.a-button{
	position: relative;
	display: inline-block;
	background: inherit;
	width: 100%;
	color: inherit;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a-button:hover{
	background: inherit;
}
.a-button:active{
	background: inherit;
}

/*--------------------    header    --------------------*/
header{
	position: relative;
	background: #f7f8fa;
	padding: 35px 0;
	z-index: 50;
	box-sizing: border-box;
	overflow: hidden;
}
	.header-left{
		position: relative;
		float: left;
		width: 330px;
	}
		.logo{
			float: left;
			width: 90px;
			img{
				max-width: 100%;
			}
		}
			.logo-mobile{
				display: none;
			}
		.slogan{
			float: left;
			width: 240px;
			color: #1c5fa6;
			font-size: 16px;
			font-family: 'PFDinDisplayPro Bold';
			line-height: 24px;
			text-transform: uppercase;
			padding: 20px 0 0 20px;
			box-sizing: border-box;
		}
	.header-contacts{
		position: relative;
		float: left;
		width: 170px;
		color: #92acb6;
		font-size: 18px;
		font-family: 'PFDinDisplayPro Light';
		line-height: 24px;
		margin-top: 20px;
		margin-left: 80px;
		a{
			color: #1c5fa6;
			font-family: 'PFDinDisplayPro Bold';
			text-decoration: none;
		}
	}
	.header-social{
		position: relative;
		float: left;
		width: 130px;
		margin-top: 30px;
		margin-left: 130px;
		
	}
		.social{
			position: relative;
			overflow: hidden;
			a{
				float: left;
				width: 32px;
				height: 32px;
				margin-right: 10px;
				img{
					max-width: 100%;
				}
			}
		}
	.header-search{
		position: relative;
		float: right;
		width: 270px;
		margin-top: 30px;
		input[type="text"]{
			background: #e5ecef;
			height: 32px;
			border: 0;
			border-radius: 3px;
			padding: 0 35px 0 15px;
		}
		input[type="submit"]{
			position: absolute;
			background: url('../img/search.png') center no-repeat;
			top: 0;
			right: 0;
			height: 32px;
			width: 35px;
			color: transparent;
			font-size: 0;
			border: 0;
			cursor: pointer;
		}
		/* all */
		::-webkit-input-placeholder { color: #92acb6; font-size: 12px;font-family: 'PFDinDisplayPro Bold';}
		::-moz-placeholder { color: #92acb6; font-size: 12px;font-family: 'PFDinDisplayPro Bold';} /* firefox 19+ */
		:-ms-input-placeholder { color: #92acb6; font-size: 12px;font-family: 'PFDinDisplayPro Bold';} /* ie */
		input:-moz-placeholder { color: #92acb6; font-size: 12px;font-family: 'PFDinDisplayPro Bold';}
	}
	.navbar{
		position: relative;
		display: none;
		float: right;
		width: 40px;
		height: 35px;
		padding: 5px;
		cursor: pointer;
		box-sizing: border-box;
		overflow: hidden;
		&.active{
			.icon-bar{
				height: 1px;
			}
			#icon-bar-top{
				-webkit-transform: perspective(1000px) rotate(45deg) translate(7px, 8px);
				-moz-transform: perspective(1000px) rotate(45deg) translate(7px, 8px);
				-o-transform: perspective(1000px) rotate(45deg) translate(7px, 8px);
				-ms-transform: perspective(1000px) rotate(45deg) translate(7px, 8px);
				transform: perspective(1000px) rotate(45deg) translate(7px, 8px);
			}
			#icon-bar-center{
				left: -100%;
				opacity: 0;
			}
			#icon-bar-bottom{
				-webkit-transform: perspective(1000px) rotate(-45deg) translate(8px, -8px);
				-moz-transform: perspective(1000px) rotate(-45deg) translate(8px, -8px);
				-o-transform: perspective(1000px) rotate(-45deg) translate(8px, -8px);
				-ms-transform: perspective(1000px) rotate(-45deg) translate(8px, -8px);
				transform: perspective(1000px) rotate(-45deg) translate(8px, -8px);
			}
		}
	}
		.icon-bar{
			position: absolute;
			left: 5px;
			background: #fff;
			width: 30px;
			height: 3px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		#icon-bar-top{
			top: 5px;
		}
		#icon-bar-center{
			top: 16px;
		}
		#icon-bar-bottom{
			top: 27px;
		}
/*--------------------    top-menu    --------------------*/

.scroll-table{
	width: 100%;
	height: 100%;
}

.top-menu{
	position: relative;
	background: #2b5e93;
	z-index: 50;
	ul{
		li{
			position: relative;
			color: #fff;
			font-size: 14px;
			font-family: 'PFDinDisplayPro Bold';
			a{
				display: block;
				color: #fff;
				font-size: 14px;
				text-decoration: none;
				box-sizing: border-box;
			}
			&:hover{
				ul{
					display: block;
				}
			}
			ul{
				position: absolute;
				display: none;
				background: #25517f;
				left: 0;
				top: 48px;
				width: 100%;
				padding: 15px 20px;
				box-sizing: border-box;
				z-index: 5;
				li{
					line-height: 1.25em;
					margin-top: 15px;
					&:first-child{
						margin-top: 0;
					}
					a{
						&:hover{
							color: #12aaeb;
						}
					}
				}
			}
		}
	}
	nav{
		height: auto;
		&>ul{
			display: table;
			width: 100%;
			&>li{
				display: table-cell;
				&>a{
					line-height: 48px;
					text-align: center;
					padding: 0 70px;
				}
				&:first-child{
					&>a{
						text-align: left;
						padding-left: 0;
					}
					&:before{
						content: none;
					}
					&:after{
						left: 0%;
					}
					&:hover{
						&:after{
							margin-left: 0;
						}
					}
				}
				&:last-child{
					&>a{
						text-align: right;
						padding-right: 0;
					}
					&:after{
						left: 100%;
					}
					&:hover{
						&:after{
							left: 40%;
							margin-left: 0;
						}
					}
				}
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					height: 18px;
					margin-top: -9px;
					border-left: 2px dotted #1a3f65;
				}
				&:after{
					content: '';
					position: absolute;
					background: #fff;
					bottom: 0;
					left: 50%;
					width: 0%;
					height: 3px;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
				&:hover{
					&:after{
						width: 60%;
						margin-left: -30%;
					}
				}
			}
		}
	}
}
/*--------------------    head-slider    --------------------*/
.head-slider{
	position: relative;
	margin-bottom: 50px;
	.slider-box{
		position: relative;
		background-size: cover;
		background-position: center;
		height: 318px;
	}
	.slider-arr{
		position: absolute;
		top: 145px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 10;
		opacity: 0.6;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		&:hover{
			opacity: 1;
		}
	}
	.slider-prev{
		background: url('../img/arr-left.png');
		left: 0;
	}
	.slider-next{
		background: url('../img/arr-right.png');
		right: 0;
	}
}
	.slider-body{
		position: relative;
		color: #fff;
		font-family: 'PFDinDisplayPro Bold';
		text-align: right;
		text-transform: uppercase;
		padding: 90px 100px 0;
	}
		.slider-date{
			color: #12aaeb;
			margin-bottom: 20px;
		}
		.slider-subtitle{
			font-size: 24px;
			margin-bottom: 15px;
		}
		.slider-title{
			font-size: 36px;
		}
/*--------------------    reclame    --------------------*/
.reclame{
	position: relative;
}
	.reclame-box{
		position: relative;
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}

/*--------------------    section    --------------------*/
section{
	position: relative;
	padding: 50px 0;
}
	.section-inner{
		position: relative;
		padding-top: 50px;
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
	.link-more{
		position: absolute;
		top: 8px;
		right: 0;
		a{	
			display: inline-block;
			background: url('../img/arr-more.png') right center no-repeat;
			background-size: 16px;
			color: #12aaeb;
			font-size: 14px;
			font-family: 'PFDinDisplayPro Bold';
			line-height: 20px;
			text-decoration: none;
			padding-right: 20px;
			&:hover{
				text-decoration: underline;
			}
		}
	}

/*--------------------    project    --------------------*/
.news{
	position: relative;
	overflow: hidden;
}
	.news-page{
		position: relative;
		margin-bottom: 30px;
		.news-top{
			margin-bottom: 30px;
		}
			.news-category{
				display: block;
				float: left;
				padding: 0 15px;
				margin-right: 20px;
			}
	}
	.news-left{
		position: relative;
		float: left;
		width: 370px;
		.news-line{
			padding: 0;
		}
			.news-head{
				display: block;
			}
				.news-category{
					display: block;
				}
				.news-title{
					.news-category{
						display: none;
					}
				}
				.news-text{
					display: block;
				}
			.news-body{
				width: auto;
			}
	}
	.news-right{
		position: relative;
		float: right;
		width: 770px;
		.news-top{
			float: left;
			width: 100px;
		}
		.news-body{
			float: left;
			width: 670px;
		}
			.news-title{
				.news-category{
					margin-right: 5px;
				}
			}
	}
		.news-line{
			position: relative;
			color: #3c3f42;
			line-height: 24px;
			border-top: 2px dotted #92acb6;
			padding: 10px 0;
			overflow: hidden;
			&:first-child{
				border-top: 0;
			}
		}
			.news-head{
				display: none;
				margin-bottom: 15px;
				img{
					max-width: 100%;
				}
			}
			.news-body{
				position: relative;
				overflow: hidden;
			}
				.news-top{
					position: relative;
					overflow: hidden;
				}
					.news-date{
						color: #92acb6;
						font-size: 12px;
						font-weight: 700;
						float: left;
					}
					.news-category{
						display: none;
						float: right;
						background: #12aaeb;
						color: #fff;
						font-weight: 700;
						padding: 0 3px;
					}
				.news-title{
					.news-category{
						display: block;
						float: left;
					}
					a{
						color: #1c5fa6;
						font-weight: 700;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.news-text{
					display: none;
				}

/*--------------------    project    --------------------*/
.project{
	position: relative;
	background: url('../img/project-bg.png');
	padding: 50px 0 20px;
	.section-inner{
		font-size: 0;
	}
}
	.project-box{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 370px;
		color: #3c3f42;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 40px;
		margin-left: 30px;
		&:nth-child(3n+1){
			margin-left: 0;
		}
		a{
			color: #3c3f42;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
		.project-img{
			height: 80px;
			img{
				max-width: 100%;
			}
		}
		.project-title{
			color: #1c5fa6;
			font-weight: 700;
		}

/*--------------------    events    --------------------*/
.events{
	.section-inner{
		display: flex;
		align-items: stretch;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 3px solid #e5ecef;
		padding-bottom: 10px;
	}
}
	.events-box{
		position: relative;
		float: left;
		width: 350px;
		margin-left: 20px;
		&:first-child{
			margin-left: 20px;
		}
		&:before{
			content: '';
			position: absolute;
			left: 64px;
			height: 100%;
			border-left: 2px dotted #96afb9;
		}
		&:after{
			content: '';
			position: absolute;
			background: #fff;
			left: 58px;
			bottom: -18px;
			width: 7px;
			height: 7px;
			border: 4px solid #12aeef;
			box-shadow: 0 0 0 4px #fff;
			border-radius: 50%;
		}
	}
		.events-head{
			position: relative;
			float: left;
			width: 50px;
		}
			.events-date{
				position: relative;
				background: #96afb9;
				width: 50px;
				height: 50px;
				color: #fff;
				font-weight: 700;
				text-align: center;
				border-radius: 50%;
				padding: 8px;
				box-sizing: border-box;
			}
				.events-day{
					font-size: 18px;
				}
		.events-body{
			position: relative;
			float: left;
			width: 300px;
			color: #3c3f42;
			line-height: 24px;
			padding-left: 30px;
			box-sizing: border-box;
		}
			.events-category{
				font-weight: 700;
			}
			.events-title{
				font-weight: 700;
				a{
					color: #1c5fa6;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
/*--------------------    statistics    --------------------*/
.statistics-box{
	position: relative;
	float: left;
	width: 330px;
	margin-left: 70px;
	&:first-child{
		margin-left: 40px;
	}
}
	.statistics-head{
		position: relative;
		float: left;
		width: 30px;
		padding-top: 5px;
		img{
			max-width: 100%;
		}
	}
	.statistics-body{
		position: relative;
		float: left;
		width: 300px;
		line-height: 24px;
		padding-left: 30px;
		box-sizing: border-box;
	}
		.statistics-text{
			color: #3c3f42;
			a{
				color: #3c3f42;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.statistics-link{
			position: relative;
			a{
				display: inline-block;
				vertical-align: top;
				color: #12aaeb;
				font-family: 'PFDinDisplayPro Bold';
				text-decoration: none;
				padding-left: 20px;
				margin-right: 40px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
			.statistics-view{
				background: url('../img/view.png') left center no-repeat;
			}
			.statistics-download{
				background: url('../img/download.png') left center no-repeat;
			}

/*--------------------    gallery    --------------------*/
.gallery{
	background: #f7f8fa;
	.gallery-block{
		font-size: 0;
	}
	.media-box{
		width: 170px;
		margin-left: 30px;
		&:nth-child(3n+1){
			margin-left: 30px;
		}
		&:first-child{
			width: 370px;
			margin-left: 0;
			.media-head{
				width: 370px;
				height: 210px;
				margin-bottom: 35px;
				overflow: hidden;
			}
		}
		&:first-child.media-video{
			.media-head{
				&:before{
					background-size: 128px;
				}
			}
		}
		.media-head{
			width: 170px;
			height: 110px;
			margin-bottom: 15px;
		}
	}
	.media-video{
		.media-head{
			&:before{
				background-size: 64px;
			}
		}
	}
}
	.gallery-block{
		position: relative;
		float: left;
		width: 970px;
	}
	.media{
		position: relative;
		font-size: 0;
		overflow: hidden;
	}
		.media-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 270px;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			margin-left: 30px;
			margin-bottom: 40px;
			&:nth-child(3n+1){
				margin-left: 0;
			}
			a{
				color: #1c5fa6;
				text-decoration: none;
			}
			&:hover{
				.media-title{
					text-decoration: underline;
				}
			}
		}
			.media-head{
				position: relative;
				width: 270px;
				height: 180px;
				margin-bottom: 20px;
				overflow: hidden;
				img{
					width: 100%;
				}
				iframe{
					width: 170px;
					height: 110px;
				}
			}
				.media-video{
					.media-head{
						&:before{
							content: '';
							background: url('../img/play.png') center no-repeat;
							background-size: 95px;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0.6;
							-webkit-transition: all 0.5s ease;
							-moz-transition: all 0.5s ease;
							-o-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
					}
					&:hover{
						.media-head{
							&:before{
								opacity: 0.8;
							}
						}
					}
				}
				.media-photo{
					.media-head{
						&:before{
							content: '';
							position: absolute;
							background: #1a3f65;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
							-webkit-transition: all 0.5s ease;
							-moz-transition: all 0.5s ease;
							-o-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
						&:after{
							content: '';
							position: absolute;
							background: url('../img/media-view.png') center no-repeat;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
							-webkit-transition: all 0.5s ease;
							-moz-transition: all 0.5s ease;
							-o-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
					}
					&:hover{
						.media-head{
							&:before{
								opacity: 0.75;
							}
							&:after{
								opacity: 1;
							}
						}
					}
				}
			.media-body{
				position: relative;
			}
				.media-top{
					position: relative;
					overflow: hidden;
				}
					.media-category{
						float: left;
						background: #12aaeb;
						color: #fff;
						padding: 0 3px;
					}
					.media-date{
						float: right;
						color: #92acb6;
						font-size: 12px;
					}
	.gallery-reclame{
		position: relative;
		float: right;
		width: 170px;
	}

/*--------------------    main    --------------------*/
#main{
	position: relative;
	padding: 50px 0;
}
	.block-content{
		position: relative;
		float: right;
		width: 870px;
	}
		.breadcrumbs{
			position: relative;
			font-size: 0;
			padding: 15px 0;
			ul{
				li{
					position: relative;
					display: inline-block;
					vertical-align: top;
					color: #92acb6;
					font-size: 12px;
					line-height: 16px;
					padding-left: 15px;
					&:before{
						content: '»';
						position: absolute;
						left: 5px;
						top: -1px;
					}
					&:first-child{
						padding-left: 0;
						&:before{
							content: none;
						}
					}
					a{
						color: #1c5fa6;
						font-weight: 700;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
		.content{
			position: relative;
			line-height: 24px;
			padding-top: 30px;
			h1{
				position: relative;
				color: #1c5fa6;
				font-size: 24px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 30px;
				text-transform: uppercase;
				border-bottom: 0;
				padding-bottom: 25px;
			}
			h2{
				position: relative;
				color: #1c5fa6;
				font-size: 24px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 30px;
				padding-bottom: 25px;
			}
			h3{
				position: relative;
				color: #1c5fa6;
				font-size: 22px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 28px;
				padding-bottom: 25px;
			}
			h4{
				position: relative;
				color: #1c5fa6;
				font-size: 20px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 26px;
				padding-bottom: 25px;
			}
			h5{
				position: relative;
				color: #1c5fa6;
				font-size: 18px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 24px;
			}
			h6{
				position: relative;
				color: #3c3f42;
				font-size: 18px;
				font-family: 'PFDinDisplayPro Bold';
				font-weight: normal;
				line-height: 24px;
			}
			ul{
				margin-bottom: 25px;
				overflow: hidden;
				li{
					position: relative;
					padding-left: 15px;
					&:before{
						content: '•';
						position: absolute;
						left: 0;
						top: 0;
						color: #96afb9;
						font-size: 20px;
					}
					ul{
						margin-bottom: 0;
						li{
							padding-left: 20px;
						}
					}
				}
			}
			ol{
				counter-reset: count;
				margin-bottom: 25px;
				&>li{
					counter-increment: count;
					&:before{
						content: counter(count)'.';
						font-weight: 700;
						margin-right: 5px;
					}
					ol{
						counter-reset: count2;
						margin-bottom: 0;
						&>li{
							counter-increment: count2;
							padding-left: 15px;
							&:before{
								content: counter(count)'.'counter(count2)'.';
							}
							ol{
								counter-reset: count3;
								&>li{
									counter-increment: count3;
									padding-left: 30px;
									&:before{
										content: counter(count)'.'counter(count2)'.'counter(count3)'.';
									}
								}
							}
						}
					}
				}
			}
			blockquote{
				background: #f7f8fa;
				font-style: italic;
				border: 1px solid #e5ecef;
				border-left: 2px solid #12aaeb;
				padding: 10px 30px;
				margin-left: 70px;
				margin-bottom: 30px;
				strong{
					font-style: normal;
				}
			}
			img{
				border: 1px solid #e6ebee;
				box-sizing: border-box;
				&.fll{
					max-width: 270px;
					margin-right: 30px;
					margin-bottom: 60px;
					&+.img-title{
						left: 0;
					}
				}
			}
			.img-title{
				position: absolute;
				color: #798c93;
				font-size: 12px;
				line-height: 24px;
				text-align: center;
				padding-top: 10px;
				overflow: hidden;
			}
			table{
				position: relative;
				width: 100%;
				height: auto;
				margin-bottom: 30px;
				overflow-x: auto;
				thead{
					tr{
						background: #f2f3f5;
						td{
							font-weight: 700;
						}
					}
				}
				tbody{
					tr{
						&:nth-child(even){
							background: #f2f3f5;
						}
						td{
							&:last-child{
								text-align: center;
								padding: 20px 15px;
							}
						}
					}
				}
				tr{
					td{
						vertical-align: middle;
						height: 50px;
						line-height: 24px;
						border: 1px solid #92acb6;
						padding: 10px 15px;
						box-sizing: border-box;
					}
				}
			}
			.link-more{
				top: 0;
			}
		}
		.title{
			position: relative;
			border-bottom: 2px dotted #99b1bb;
			margin-bottom: 30px;
			overflow: hidden;
			h1,h2,h3,h4,h5,h6{
				width: 680px;
			}
		}
		hr{
			border-top: 1px dotted #92acb6;
			margin: 2em 0;
			clear: both;
		}
		.text-columns{
			position: relative;
			margin-bottom: 30px;
			overflow: hidden;
		}
			.text-left{
				float: left;
				width: 370px;
			}
			.text-right{
				float: right;
				width: 370px;
			}
		input[type='checkbox']{width: inherit;height: inherit;position: absolute;left: -9999px;}
		input[type='checkbox'] + label{background: url('../img/checkbox.png') 0 0 no-repeat;display: inline-block;vertical-align: top;width: 20px;height: 20px;cursor: pointer;}
		input[type='checkbox']:checked + label{background: url('../img/checkbox-active.png') 0 0 no-repeat;}

		input[type='radio']{width: inherit;height: inherit;position: absolute;left: -9999px;}
		input[type='radio'] + label{background: url('../img/radio.png') 0 0 no-repeat;display: inline-block;vertical-align: top;width: 20px;height: 20px;cursor: pointer;}
		input[type='radio']:checked + label{background: url('../img/radio-active.png') 0 0 no-repeat;}
		.content-slider-title{
			color: #1c5fa6;
			font-weight: 700;
			margin-bottom: 15px;
		}
		.content-slider{
			position: relative;
			margin-bottom: 30px;
			img{
				border: 0;
			}
		}
			.slider-for{
				margin-bottom: 25px;
				.slick-arrow{
					position: absolute;
					top: 50%;
					width: 32px;
					height: 32px;
					color: transparent;
					font-size: 0;
					margin-top: -16px;
					border: 0;
					opacity: 0.8;
					z-index: 10;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
					&:hover{
						opacity: 1;
					}
					&:before{
						content: '';
						position: absolute;
						background: #fff;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						opacity: 0.5;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
					}
				}
				.slick-prev{
					background: url('../img/arr-left.png') center no-repeat;
					background-size: cover;
					left: 40px;
				}
				.slick-next{
					background: url('../img/arr-right.png') center no-repeat;
					background-size: cover;
					right: 40px;
				}
				img{
					max-width: 100%;
				}
			}
			.slider-nav{
				margin: 0 35px;
				.slick-arrow{
					position: absolute;
					top: 50%;
					width: 32px;
					height: 32px;
					color: transparent;
					font-size: 0;
					margin-top: -16px;
					border: 0;
					opacity: 0.8;
					z-index: 10;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
					&:hover{
						opacity: 1;
					}
				}
				.slick-prev{
					background: url('../img/arr-left-blue.png') center no-repeat;
					background-size: cover;
					left: -35px;
				}
				.slick-next{
					background: url('../img/arr-right-blue.png') center no-repeat;
					background-size: cover;
					right: -35px;
				}
			}
			.content-slider-item{
				margin: 0 15px;
				img{
					max-width: 100%;
				}
			}
		.link-print{
			position: absolute;
			top: 0;
			right: 0;
			a{
				display: inline-block;
				background: url('../img/print.png') left center no-repeat;
				color: #12aaeb;
				font-weight: 700;
				line-height: 24px;
				text-decoration: none;
				padding-left: 35px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	aside{
		float: left;
		width: 270px;
	}
		.aside-nav{
			position: relative;
			margin-bottom: 50px;
			ul{
				li{
					&:first-child{
						a{
							&:after{
								content: none;
							}
						}
					}
					a{
						position: relative;
						display: block;
						background: #f2f3f5;
						color: #1c5fa6;
						font-size: 14px;
						line-height: 20px;
						text-decoration: none;
						padding: 13px 25px 13px 35px;
						&:before{
							content: '';
							position: absolute;
							background: url('../img/aside-nav-arr.png');
							background-size: cover;
							left: 25px;
							top: 19px;
							width: 4px;
							height: 7px;
						}
						&:after{
							content: '';
							position: absolute;
							left: 10%;
							top: 0;
							width: 80%;
							border-bottom: 2px dotted #92acb6;
						}
					}
					&:hover a, &.active a{
						background: #2b5e93;
						color: #fff;
						&:before{
							background: url('../img/aside-nav-arr-active.png');
							background-size: cover;
						}
						&:after{
							content: none;
						}
					}
					&:hover + li a, &.active + li a{
						&:after{
							content: none;
						}
					}
					&.active{
						font-weight: 700;
					}
					// &:hover + li{
					// 	a,{
					// 		&:after{
					// 			content: none;
					// 		}
					// 	}
					// }
				}
			}
		}
		.aside-reclame{
			position: relative;
			margin-bottom: 50px;
			img{
				max-width: 100%;
			}
		}
		.aside-box{
			position: relative;
			margin-bottom: 50px;
		}
			.aside-head{
				position: relative;
				background: #2b5e93;
				color: #fff;
				font-size: 18px;
				font-family: 'PFDinDisplayPro Bold';
				text-align: center;
				padding: 15px;
			}
			.aside-body{
				position: relative;
				background: #f2f3f5;
				line-height: 24px;
				padding: 30px 20px;
				a{
					color: #1c5fa6;
					font-weight: 700;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
				.popular-box{
					position: relative;
					margin-bottom: 20px;
				}
					.popular-category{
						display: inline-block;
						vertical-align: top;
						background: #12aaeb;
						color: #fff;
						font-weight: 700;
						padding: 0 3px;
					}
	.board-leader{
		position: relative;
		overflow: hidden;
	}
		.board-head{
			position: relative;
			float: left;
			width: 270px;
			line-height: 0;
			img{
				max-width: 100%;
			}
		}
		.board-body{
			position: relative;
			float: right;
			width: 570px;
			h4{
				padding-bottom: 0;
			}
			ul{
				li{
					margin-bottom: 20px;
				}
			}
		}
	.board-list{
		position: relative;
		font-size: 0;
	}
		.board-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 270px;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			margin-left: 30px;
			margin-bottom: 40px;
			&:nth-child(3n+1){
				margin-left: 0;
			}
		}
			.board-img{
				position: relative;
				width: 220px;
				height: 220px;
				line-height: 0;
				margin: 0 auto 30px;
				overflow: hidden;
				img{
					max-width: 100%;
				}
			}
			.board-text{
				position: relative;
				strong{
					display: block;
				}
			}
	.news-box{
		position: relative;
		border-top: 1px dotted #99b1bb;
		padding: 50px 0;
		overflow: hidden;
		&:first-child{
			border-top: 0;
			margin-top: -30px;
		}
		.news-date{
			float: none;
		}
		.news-category{
			display: inline-block;
			float: none;
		}
		.news-text{
			display: block;
		}
	}
		.news-img{
			position: relative;
			float: left;
			width: 170px;
			height: 170px;
			line-height: 0;
			overflow: hidden;
			a{
				display: block;
				width: 170px;
				height: 170px;
			}
			img{
				max-width: 100%;
				width: 100%;
				height: 100%;
			}
		}
		.news-body{
			float: right;
			width: 670px;
		}
			.news-top{
				position: relative;
				overflow: hidden;
			}
	.pagers{
		position: relative;
		font-size: 0;
		ul{
			li{
				position: relative;
				display: inline-block;
				background: #f2f3f5;
				width: 38px;
				height: 38px;
				color: #6f828b;
				font-size: 14px;
				font-weight: 700;
				line-height: 36px;
				text-align: center;
				padding: 0;
				margin-right: 10px;
				margin-bottom: 5px;
				box-sizing: border-box;
				&:before{
					content: none;
				}
				&:hover{
					color: #fff;
					a{
						background: #12aaeb;
						color: #fff;
						border-color: #12aaeb;
					}
				}
				a{
					display: block;
					background: #f2f3f5;
					width: 38px;
					height: 38px;
					color: #6f828b;
					text-decoration: none;
					border: 1px solid #c4e1ec;
					&.active{
						background: #12aaeb;
						color: #fff;
						border-color: #12aaeb;
					}
				}
			}
		}
		.projects-links{
			float: right;
			padding-top: 10px;
		}
	}
	.documents{
		position: relative;
		font-size: 0;
	}
		.documents-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 420px;
			margin-left: 25px;
			margin-bottom: 25px;
			&:nth-child(odd){
				margin-left: 0;
			}
		}
			.documents-body{
				position: relative;
				display: table;
				width: 100%;
			}
				.documents-title{
					display: table-cell;
					vertical-align: middle;
					background: #f2f3f5 url('../img/doc.png') 25px center no-repeat;
					height: 75px;
					color: #1c5fa6;
					font-size: 14px;
					line-height: 20px;
					font-family: 'PFDinDisplayPro Bold';
					text-decoration: none;
					border: 1px solid #ced3df;
					padding: 10px 70px;
					box-sizing: border-box;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
					&:hover{
						background: #fff url('../img/doc.png') 25px center no-repeat;
					}
				}
	.reviews{
		position: relative;
		margin-bottom: 30px;
	}
		.reviews-box{
			position: relative;
			font-size: 14px;
			line-height: 24px;
			border-top: 1px dotted #92acb6;
			padding: 45px 0;
			&:first-child{
				border-top: 0;
				margin-top: -30px;
			}
			.reviews-inner{
				position: relative;
				display: table;
				width: 100%;
			}
		}
			.reviews-head{
				display: table-cell;
				vertical-align: top;
				width: 100px;
				line-height: 0;
			}
				.reviews-img{
					position: relative;
					background: #f2f3f5;
					width: 100px;
					height: 100px;
					img{
						max-width: 100%;
					}
				}
			.reviews-body{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				padding-left: 30px;
			}
				.reviews-date{
					position: relative;
					color: #92acb6;
					font-size: 12px;
					font-weight: 700;
				}
				.reviews-title{
					position: relative;
					a{
						color: #1c5fa6;
						font-weight: 700;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
		.reviews-top-mobile{
			position: relative;
			display: none;
			overflow: hidden;
		}
	.practice{
		position: relative;
		margin-bottom: 30px;
	}
		.practice-box{
			position: relative;
			font-size: 14px;
			line-height: 24px;
			border-top: 1px dotted #92acb6;
			padding: 45px 0;
			&:first-child{
				border-top: 0;
				margin-top: -30px;
			}
			.practice-inner{
				position: relative;
				display: table;
				width: 100%;
			}
		}
			.practice-head{
				display: table-cell;
				vertical-align: top;
				width: 100px;
				line-height: 0;
			}
				.practice-img{
					position: relative;
					background: #f2f3f5;
					width: 100px;
					height: 100px;
					img{
						max-width: 100%;
					}
				}
			.practice-body{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				padding-left: 30px;
			}
				.practice-date{
					position: relative;
					color: #92acb6;
					font-size: 12px;
					font-weight: 700;
					margin-bottom: 5px;
				}
				.practice-category{
					display: inline-block;
					background: #12aaeb;
					color: #fff;
					font-weight: 700;
					padding: 0 10px;
					margin-bottom: 5px;
				}
				.practice-title{
					position: relative;
					a{
						color: #1c5fa6;
						font-weight: 700;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
		.practice-top-mobile{
			position: relative;
			display: none;
			overflow: hidden;
		}
	.analytics-box{
		position: relative;
		border-top: 1px dotted #99b1bb;
		padding: 40px 0;
		overflow: hidden;
		&:first-child{
			border-top: 0;
			margin-top: -30px;
		}
	}
		.analytics-img{
			position: relative;
			float: left;
			width: 170px;
			height: 170px;
			line-height: 0;
			overflow: hidden;
			a{
				display: block;
				width: 170px;
				height: 170px;
			}
			img{
				max-width: 100%;
				width: 100%;
				height: 100%;
			}
		}
		.analytics-body{
			float: right;
			width: 670px;
		}
			.analytics-top-mobile{
				position: relative;
				display: none;
				overflow: hidden;
			}
			.analytics-top{
				position: relative;
				overflow: hidden;
			}
				.analytics-date{
					position: relative;
					color: #92acb6;
					font-size: 12px;
					font-weight: 700;
				}
				.analytics-category{
					position: relative;
					display: inline-block;
					background: #12aaeb;
					color: #fff;
					font-weight: 700;
					padding: 0 3px;
				}
			.analytics-title{
				.analytics-category{
					display: block;
					float: left;
				}
				a{
					color: #1c5fa6;
					font-weight: 700;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
	.contacts{
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
		table{
			margin-bottom: 0;
			tbody{
				tr{
					background: #fff !important;
					td{
						height: auto;
						vertical-align: top;
						font-weight: 700;
						border: 0;
						padding: 0 !important;
						&:first-child{
							width: 30%;
							color: #92acb6;
							font-size: 12px;
							font-weight: 700;
						}
						&:last-child{
							text-align: left;
						}
						a{
							color: #12aaeb;
							font-family: 'PFDinDisplayPro Bold';
						}
					}
				}
			}
		}
	}
		.contacts-block{
			position: relative;
			border-top: 1px dotted #92acb6;
			padding-top: 30px;
			overflow: hidden;
		}
			.contacts-box{
				position: relative;
				float: left;
				width: 300px;
				padding-right: 30px;
				box-sizing: border-box;
				a{
					color: #12aaeb;
					font-family: 'PFDinDisplayPro Bold';
				}
			}
	.projects{
		position: relative;
	}
		.projects-box{
			position: relative;
			border-top: 1px dotted #92acb6;
			padding: 40px 0;
			overflow: hidden;
			&:first-child{
				border-top: 0;
				margin-top: -30px;
			}
		}
			.projects-head{
				position: relative;
				float: left;
				width: 170px;
				height: 170px;
				line-height: 0;
				overflow: hidden;
				a{
					display: block;
				}
				img{
					max-width: 100%;
				}
			}
			.projects-body{
				position: relative;
				float: right;
				width: 670px;
			}
				.projects-title{
					position: relative;
					margin-top: -5px;
					margin-bottom: 25px;
					a{
						color: #1c5fa6;
						font-size: 20px;
						font-family: 'PFDinDisplayPro Bold';
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.projects-text{
					position: relative;
					margin-bottom: 15px;
				}
				.projects-links{
					font-size: 0;
					a{
						display: inline-block;
						color: #12aaeb;
						font-size: 14px;
						font-family: 'PFDinDisplayPro Bold';
						text-decoration: none;
						margin-right: 20px;
						&:hover{
							text-decoration: underline;
						}
					}
				}
					.projects-more{
						background: url('../img/arr-more.png') right center no-repeat;
						background-size: 16px;
						padding-right: 20px;
					}
	.calendar{
		position: relative;
		border-bottom: 1px dotted #92acb6;
		margin-bottom: 30px;
	}
		.calendars-box{
			position: relative;
			display: table;
			width: 100%;
			border-top: 1px dotted #92acb6;
			padding: 35px 0;
			box-sizing: border-box;
			&:first-child{
				border-top: 0;
				margin-top: -30px;
			}
		}
			.calendars-head-mobile{
				position: relative;
				display: none;
			}
			.calendars-head{
				position: relative;
				display: table-cell;
				vertical-align: top;
				width: 70px;
			}
				.calendars-date{
					position: relative;
					background: #96afb9;
					width: 70px;
					height: 70px;
					color: #fff;
					font-weight: 700;
					line-height: 18px;
					text-align: center;
					border-radius: 50%;
					padding: 16px 5px;
					overflow: hidden;
					box-sizing: border-box;
				}
					.calendars-day{
						font-size: 18px;
					}
					.calendars-month{
						font-size: 12px;
					}
				.calendars-body{
					position: relative;
					display: table-cell;
					vertical-align: top;
					padding-left: 30px;
				}
					.calendars-category{
						position: relative;
						display: inline-block;
						background: #12aaeb;
						color: #fff;
						font-weight: 700;
						padding: 0 3px;
					}
					.calendars-title{
						position: relative;
						a{
							color: #1c5fa6;
							font-weight: 700;
							text-decoration: none;
							&:hover{
								text-decoration: underline;
							}
						}
					}
		.academy-calendar{
			position: relative;
			overflow: hidden;
			.calendar-row{
				position: relative;
				border-top: 1px dotted #92acb6;
				overflow: hidden;
			}
			.calendars-box{
				float: left;
				width: 370px;
				border-top: none;
				margin-left: 130px;
				&:first-child{
					margin-top: 0;
				}
				&:nth-child(odd){
					margin-left: 0;
				}
			}
		}
	.event-category{
		position: relative;
		display: inline-block;
		background: #12aaeb;
		color: #fff;
		font-weight: 700;
		padding: 0 3px;
		margin-bottom: 15px;
	}
	.events-table{
		position: relative;
		display: table;
		width: 100%;
	}
		.events-col{
			position: relative;
			display: table-cell;
			vertical-align: top;
			font-weight: 700;
			.events-row{
				position: relative;
				&:first-child{
					background: #fff;
					height: auto;
					color: #92acb6;
					font-size: 12px;
					font-weight: 700;
					border: 0;
					padding: 0;
				}
			}
		}
	.form-box{
		position: relative;
		background: #f2f3f5;
		padding: 20px 30px;
		input[type="submit"]{
			background: #12aaeb;
			height: 30px;
			color: #fff;
			font-size: 12px;
			font-family: 'PFDinDisplayPro Bold';
			text-transform: uppercase;
			border: 0;
			border-radius: 2px;
			padding: 0 20px;
			cursor: pointer;
			-webkit-appearance: none;
		}
		input[type="reset"]{
			background: url('../img/reset.png') left center no-repeat;
			border: 0;
			color: #12aaeb;
			font-size: 12px;
			font-weight: 700;
			padding-left: 20px;
			margin-left: 40px;
			cursor: pointer;
		}
	}
		.form-body{
			position: relative;
			overflow: hidden;
		}
			.form-group{
				position: relative;
				float: left;
				width: 48%;
				margin-left: 4%;
				margin-bottom: 15px;
				&:nth-child(odd){
					margin-left: 0;
				}
			}
			.form-info{
				position: relative;
				color: #92acb6;
				border-top: 1px dotted #92acb6;
				padding-top: 15px;
			}
	.partners{
		position: relative;
	}
		.partners-block{
			position: relative;
		}
			.partners-category{
				position: relative;
				background: url('../img/arr-category.png') left 4px no-repeat;
				background-size: 16px;
				padding-left: 25px;
				padding-bottom: 20px;
			}
			.partners-box{
				position: relative;
				display: table;
				width: 100%;
				border-top: 1px dotted #92acb6;
				padding: 30px 0;
			}
				.partners-head{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					width: 35%;
					img{
						max-width: 100%;
						border: 0;
					}
				}
				.partners-body{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					font-weight: 700;
					a{
						color: #12aaeb;
						font-family: 'PFDinDisplayPro Bold';
						text-decoration: none;
					}
				}
	.not-page{
		position: relative;
		color: #92acb6;
		font-size: 72px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 20px;
	}
	.search-box{
		position: relative;
		display: table;
		width: 100%;
		margin-bottom: 30px;
	}
		.search-num{
			position: relative;
			display: table-cell;
			vertical-align: top;
			width: 40px;
			color: #92acb6;
			font-weight: 700;
		}
		.search-body{
			position: relative;
			display: table-cell;
			vertical-align: top;
		}
			.search-date{
				position: relative;
				color: #92acb6;
				font-size: 12px;
				font-weight: 700;
			}
			.search-category{
				position: relative;
				background: #12aaeb;
				display: inline-block;
				vertical-align: top;
				color: #fff;
				font-weight: 700;
				padding: 0 15px;
			}
			.search-title{
				position: relative;
				a{
					color: #1c5fa6;
					font-weight: 700;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.search-text{
				b{
					background: #92acb6;
					color: #fff;
					font-weight: normal;
				}
			}
/*--------------------    footer    --------------------*/
footer{
	position: relative;
}
	.footer-top{
		position: relative;
		background: url('../img/footer-bg.png');
		line-height: 24px;
		padding: 60px 0 30px;
	}
		.footer-left{
			position: relative;
			float: left;
			width: 800px;
			overflow: hidden;
		}
			.footer-nav-block{
				position: relative;
				float: left;
				width: 200px;
				margin-left: 90px;
				&:first-child{
					margin-left: 0;
				}
			}
				.footer-nav-box{
					position: relative;
					margin-bottom: 30px;
					ul{
						li{
							position: relative;
							padding-left: 10px;
							&:before{
								content: '•';
								position: absolute;
								left: 0;
								color: #96afb9;
								font-weight: 700;
							}
							a{
								color: #96afb9;
								font-size: 12px;
								font-weight: 700;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
		.footer-right{
			position: relative;
			float: right;
			width: 270px;
		}
			.footer-title{
				color: #fff;
				font-weight: 700;
			}
			.footer-contacts{
				position: relative;
				margin-bottom: 30px;
			}
				.footer-text{
					color: #92acb6;
					font-size: 12px;
					font-weight: 700;
					margin-bottom: 5px;
					a{
						color: #12aaeb;
					}
				}
			.copyright{
				position: relative;
				color: #e5ecef;
				font-size: 12px;
				font-weight: 700;
				margin-bottom: 30px;
			}
			.footer-info{
				color: #e5ecef;
				font-size: 12px;
				font-weight: 700;
				a{
					color: #12aaeb;
				}
			}
	.footer-bottom{
		position: relative;
		background: #1a3f65;
		padding: 35px 0;
	}
		.develop{
			position: relative;
			float: left;
			width: 400px;
			color: #e5ecef;
			font-size: 12px;
			font-weight: 700;
			a{
				color: #12aaeb;
			}
		}
		.sitemap{
			position: relative;
			background: url('../img/sitemap.png') left center no-repeat;
			float: right;
			width: 100px;
			text-align: right;
			padding-left: 20px;
			box-sizing: border-box;
			a{
				color: #12aaeb;
				font-size: 12px;
				font-weight: 700;
			}
		}


.scroll-table{
	height: 100%;
	.jspHorizontalBar{
		background: transparent;
		height: 20px;
	}
	.jspVerticalBar{
		background: transparent;
	}
	.jspTrack{
		background: #f2f3f5;
		border-radius: 10px;
		box-shadow: inset 0 0 0 1px #87aeb8;
		// border: 1px solid #87aeb8;
		overflow: hidden;
	}
	.jspDrag{
		border-radius: 10px;
		background: #00acee;
		background: -moz-linear-gradient(top,  #00acee 0%, #1e5799 100%);
		background: -webkit-linear-gradient(top,  #00acee 0%,#1e5799 100%);
		background: linear-gradient(to bottom,  #00acee 0%,#1e5799 100%);
	}
}